<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title> Thi trắc nghiệm bằng lái xe A1</title>
</head>

<body>
    <div class="container-fluid">
        <img src="../static/Media/banner.png" alt="banner" width="100%">
        <div class="row" style="background-color: whitesmoke; margin: auto 4px;" >
            <div class="col-md-4 text-left" style="padding: 20px;">
                <img src="../static/Media/PET.png" width="30px" height="30px" alt="logo">
                <p class="d-inline" style="margin-left: 10px; color: blue">Mô hình - Công nghệ - Kĩ thuật</p>
            </div>
            <div class="col-md-4" style="padding-top: 10px; border-left: 2px solid aquamarine; border-right:2px solid aquamarine;">
                <p class="text-center" style="color:blue ;">
                    Thi trắc nghiệm bằng lái xe A1 <br> Chào khách tham quan
                </p>
            </div>
            <div class="col-md-4 text-center dropdown">
                <button style="margin-top: 15px;" class="btn btn-primary dropdown-toggle" type="button"
                    id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Lựa chọn hình thức kiểm tra
                </button>
                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu2">
                    <a class="dropdown-item" href="/ngau-nhien">Làm từng câu ngẫu nhiên</a>
                    <a class="dropdown-item" href="/tuy-chon">Làm từng câu tuỳ chọn</a>
                    <a class="dropdown-item" href="/theo-de">Làm theo đề</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="border: 2px solid aqua; border-radius: 10px; position: relative; top: 50px; height: 160px;">
        <div class="row" >
            <div class="col-md-12 text-center text-danger">
                <h3> Chào mừng bạn đến với Thi trắc nghiệm bằng lái xe máy A1</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center" style="position: relative; top: 20px;">
                <h5>---- Vui lòng lựa chọn chế độ làm bài ở góc phải ---- </h5>
                
            </div>
            <div class="col-md-12 text-center" style="position: relative; top: 40px;">
                <h3><b>Chúc bạn may mắn!</b></h3>
                
            </div>
            
        </div>
    </div>


    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>